body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

footer {
  background-color: #360f2a;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-top: 1px solid rgba(54,15,42,0.5);
}

.title{
  display: flex;
  justify-content: center;
  background-color: rgba(54,15,42);
  padding: 40px;
  margin-top: 90px;
  text-align: center;
  color: white;
}

.courses p, .Titan p, .EBEC p{
  background-color: #c0b1f4;
  padding: 20px;
  border-radius: 10px;
  font-size: 17px;
  flex: 1;
  height: fit-content;
  width: 300px;
}

.con-courses, .con-ebec, .con-titan{
  display: flex;
  width: 80%;
}

h2{
  padding-left: 40px;
  padding-top: 40px;
  color: #360f2a;
  font-size: 25px;
}

.courses, .EBEC, .Titan{
  padding-left: 200px;
  position: relative;
}

.Titan{
  padding-bottom: 100px;
}

.courses::before, .EBEC::before, .Titan::before{
  content: "";
  position: absolute;
  left: 100px;
  top: 40%;
  width: 20px;
  height: 20px;
  background-color: #360f2a;
  border-radius: 50%;
}

.courses::before{
  top: 50%;
}

h2::before {
  content: "";
  position: absolute;
  left: 109.5px; 
  width: 1px;
  height: 100%;
  border-left: 2px solid #360f2a;
}

.Titan h2::before{
  bottom: 20%;
}

.con-courses img, .con-ebec img, .con-titan img{
  margin-left: 100px;
  margin-right: 0px;
  border-radius: 20px;
  height: 100%;
  object-fit: cover; 
  max-width: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  filter: grayscale(30%);
  margin-bottom: 50px;
}

@media (max-width: 1024px) {

  .courses p, .Titan p, .EBEC p{
    min-width: 500px;
    max-width: 600px;
  }
  
  .con-courses, .con-ebec, .con-titan{
    display: block;
  }

  img {
    margin-left: 0;
    padding-left: 0;
    min-width: 80%;
  }
}

@media (max-width: 720px){
  .courses p, .Titan p, .EBEC p{
    min-width: 100px;
  }
  
  .con-courses, .con-ebec, .con-titan{
    display: block;
  }

  img {
    margin-left: auto;
    min-width: 90%;
  }

  .courses::before, .EBEC::before, .Titan::before{
    left: 50px;
  }

  h2::before {
    left: 59.5px; 
  }
}