body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffff;
    color: #360f2a;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid rgba(54,15,42,0.5);
    z-index: 2;
}

header h1 {
    margin: 0;
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
   
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

header nav ul li {
    margin-left: 20px;
    padding-top: 20px;
}

header nav ul li:first-of-type {
    margin-left: 450px; 
}

header nav ul li a {
    text-decoration: none;
    color: #360f2a;
    font-size: 18px;
    font-weight: bold;
}

.btn-header {
    position: relative;
    background-color: rgba(54,15,42);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    right: 0;
    border-radius: 15%;
    border:  1px solid rgba(54,15,42);
    margin-left: 30px;
}

.btn-header:hover {
    background-color: white;
    color: rgba(54,15,42);
    border:  1px solid rgba(54,15,42);

}