body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffff;
    color: #360f2a;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid rgba(54,15,42,0.5);
    z-index: 2;
}

header h1 {
    margin: 0;
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
   
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

header nav ul li {
    margin-left: 20px;
    padding-top: 20px;
}

header nav ul li:first-of-type {
    margin-left: 280px; 
}

header nav ul li a {
    text-decoration: none;
    color: #360f2a;
    font-size: 18px;
    font-weight: bold;
}

#my-account-link {
    text-decoration: underline;
}

.btn-header {
    position: relative;
    background-color: rgba(54,15,42);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    right: 0;
    border:  1px solid rgba(54,15,42);
    border-radius: 12px;
    margin-left: 30px;
}

.btn-header:hover {
    background-color: white;
    color: rgba(54,15,42);
    border:  1px solid rgba(54,15,42);

}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.email, .password{
    padding-bottom: 15px;
    text-align: center;
    border: none;
}

.email input{
    font-size: 18px;
    padding-left: 10px;
    border-radius: 8px;
}

.password input{
    font-size: 18px;
    padding-left: 10px;
    border-radius: 8px;
}

.login h1{
    font-size: 35px;
    padding-bottom: 20px;
}

.login h2{
    font-size: 15px;
    text-align: center;
}


.btn{
    margin-top: 10px;
    background-color: rgba(54,15,42);
    color: white ;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 15px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(56, 32, 49);
    color: White;

}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #360f2a;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 1px solid rgba(54,15,42,0.5);
    margin-top: auto;
}

