body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffff;
    color: #360f2a;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid rgba(54,15,42,0.5);
    z-index: 2;
}

header h1 {
    margin: 0;
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
   
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

header nav ul li {
    margin-left: 20px;
    padding-top: 20px;
}

header nav ul li:first-of-type {
    margin-left: 280px; 
}

header nav ul li a {
    text-decoration: none;
    color: #360f2a;
    font-size: 18px;
    font-weight: bold;
}

#my-account-link {
    text-decoration: underline;
}

.btn-header {
    position: relative;
    background-color: rgba(54,15,42);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    right: 0;
    border:  1px solid rgba(54,15,42);
    border-radius: 12px;
    margin-left: 30px;
}

.btn-header:hover {
    background-color: white;
    color: rgba(54,15,42);
    border:  1px solid rgba(54,15,42);

}

main {
    margin-top: 150px; 
    margin-left: 130px;
}

main h1{
    font-size: 30px;
    font-weight: bold;
}

main h2{
    font-size: 20px;
    margin-bottom: 30px;
}

main h3{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

input{
    padding: 4px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}

.sign{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accept{
    padding-left: 80px;
}

.accept h2{
    font-size: 18px;
}

.error-message {
    padding-top: 20px;
    color: red;
    display: none;
}

.full-name, .contact, .crt-password{
    display: flex;
    flex-direction: row;
}

.name, .email, .password{
    display: flex;
    flex-direction: column;
    margin-right: 150px;
}

.uni input{
    width: 46%;
}

.password-input {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.toggle-password:hover {
    text-decoration: underline;
}

.btn{
    background-color: rgba(54,15,42);
    color: white ;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 15px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.btn[disabled] {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.btn-enabled {
    background-color: rgba(54,15,42);
    color: white;
    cursor: pointer;
}

.btn-enabled:hover {
    background-color: rgb(56, 32, 49);
    color: white;
}


footer {
    margin-top: 100px;
    position: relative;
    width: 100%;
    background-color: #360f2a;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 1px solid rgba(54,15,42,0.5);
    
}

