body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

footer {
    background-color: #360f2a;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 1px solid rgba(54,15,42,0.5);
}

.vertical-line-left, .vertical-line-right {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 20px;
    background-color: rgba(54,15,42);
    z-index: 1;
}

.vertical-line-left {
    left: 0; 
}

.vertical-line-right {
    right: 0;
}

main {
    display: flex;
    flex-direction: column; 
}

.after-header {
    position: relative;
    background-image: url('header.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px; 
}

.btn {
    position: absolute;
    top: 61%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: white;
    color: rgba(54,15,42);
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(54,15,42);
    color: White;
    border:  1px solid white;

}

#slogan {
    color: #fff;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    font-style: italic;
    text-align: center; 
    margin-top: 10px; 
    position: absolute;
    top: 69%; 
    left: 39.5%; 
}

.about {
    display: flex;
    align-items: center;
    padding: 100px;
}


.about img {
    order: 2;
    flex: 0 0 30%;
    height: auto;
    margin-left: 20px;
    align-items: center;
}

.content {
    padding-right: 50px;
    order: 1;
    font-size: 18px;
    color: #333;
    text-align: justify;
}

.content li{
  list-style: none;
}

.title{
    padding-left: 50px;
    padding-bottom: 10px;
}

.title-container {
    display: flex;
    align-items: center;
    position: relative; 
}

.title-line::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px; 
    border-top: 1px solid black;
    padding-bottom: 15px;
}

.title-line {
    margin-left: 10px; 
    padding-left: 10px; 
    font-weight: bold; 
}

.numbers-section {
  position: relative;
  top: 50px;
  bottom: 50px;
  width: 20px;
  background-color: rgba(54,15,42);
}

/*θεσεις και πλάτη κουτιών*/
.numbers{
  background-color: #f8c3fa;
}

.numbers h1{
  text-align: center;
  margin-top: 30px;
}

.wrapper {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 120px;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #f8c3fa;
}

  /*Τα κουτια που περιεχουν τους αριθμούς*/
  .container {
    width: 35vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 15px solid  rgba(54,15,42);
  }
  

  /*Αριθμοί*/
  span.num {
    color:  rgba(54,15,42);
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }

  /*Κειμενο κατω από τους αριθμούς*/
  span.text {
    color:  rgba(54,15,42);
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight:bold;
    line-height: 0;
  }


.Our-partners{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgba(54, 15, 42,0.5);
  padding: 50px;
}


.Our-partners h1 {
  text-align: center;
}


.partners-text{
  text-align: center;
  font-size: 17px;
  font-style: italic;
}

.Our-events{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events{
  display: flex;
  flex-direction: row;
  
}

.box {
  padding-top: 30px;
  padding-bottom: 80px;
  margin-right: 200px;
}

.box:last-child {
  margin-right: 70px;
}

.event-image{
  width: 150%;
  height: auto;
}

.box li {
  padding-top: 15px;
  list-style: none;
  text-align: justify;
  font-size: 20px;
}

.box li a {
  text-decoration: none;
  color: #360f2a;
  font-weight: 450;
}

.box li a:hover{
  color: blue;
}
